@charset "UTF-8";

body{
	margin: 0;
}

header{
	background-color:#383c3c;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 15px;
	padding-left: 20px;
	text-align:left;
}

header h1{
	margin: 10px auto;
}

hr{
	border-top: 2px dashed #7d8bae;
}

main{
	text-align: center;
	background-color: rgb(198, 199, 201);
	min-height: 50px;
	padding: 100px;
	height: 100%;
}

.login-box{
	margin-left: 200px;
	margin-right: 200px;
}


form{
	background-color: #ffffff;
	margin-top: 30px;
	margin-bottom: 180px;
	margin-left: 100px;
	margin-right: 100px;
	padding: 60px;

}

a{
	font-size: 20px;
}

form span, form input,form button{
	padding: 5px;
	margin: 10px;
}

input{
	width: 20rem;
}

form{
	border:solid 1px black;
}

button{
	margin: 2px;
	padding: 5px 20px;
	background-color: rgb(73, 75, 78);
	color: #ffffff;
	border: none;
	width: 150px;
	cursor: pointer;
}


button:hover{
	background-color:#007bbb;
}

