@charset "UTF-8";

body{
	margin: 0;
}

main{
	text-align: center;
	background-color: rgb(198, 199, 201);
	min-height: 50px;
	height: 100%;
	margin-top: 50px;
	margin-left: 300px;
	margin-right: 300px;
	
}

.ordered{
	border: solid 1px;
	text-align: center;
	background-color: white;
	width: auto;
	margin: 30px;
	padding: 150px;
}

.order-number{
	padding: 10px;
	margin: 0;
}