<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>cartItem</title>
<link rel="stylesheet" type="text/css" href="/css/items.css">
</head>
<body>
	<div class="item-table">
	<table align="center">
		<tr>
			<th>NO</th>
			<th>商品名</th>
			<th>値段</th>
			<th>個数</th>
			<th>小計</th>
			<th></th>
		</tr>
		<tr th:each="item:${@cart.items}">
			<td th:text="${item.id}"></td>
			<td class="td-name" th:text="${item.name}"></td>
			<td th:text="${#numbers.formatInteger(item.price,3,'COMMA')} + '円'"></td>
			<td th:text="${item.quantity}"></td>
			<td th:text="${#numbers.formatInteger(item.price * item.quantity, 3, 'COMMA')} + '円'"></td>
			<td class="td-button">
				<form action="/cart/delete" method="post">
					<input type="hidden" name="itemId" th:value="${item.id}">
					<button class="delete-button">削除</button>
				</form>
			</td>
		</tr>
		<tr class="tr-totalPrice">
			<td class="td-totalPrice"  colspan="6" th:text="'総計：' + ${#numbers.formatInteger(@cart.totalPrice,3,'COMMA') + '円'}"></td>
		</tr>
	</table>
	</div>
</body>
</html>